<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acerca de
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Descripción</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        Una aplicación móvil desarrollada por estudiantes de Espol orientada a mejorar la autonomía y accesibilidad de
        las personas ciegas o con
        discapacidad visual al momento de identificar billetes de dólar. Esta herramienta utiliza inteligencia
        artificial y tecnología de reconocimiento de imágenes para detectar, de forma precisa y rápida, el valor de los
        billetes, proporcionando información audible y táctil mediante el talkback.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Caracteristicas</ion-card-title>
    <ion-card-content>
      <ul>
        <li></li>
      </ul>
    </ion-card-content>
  </ion-card>

</ion-content>
