<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acerca de
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Descripción</ion-card-title>
    </ion-card-header>

    <ion-card-content [style.font-size.px]="accesibilidadService.GetFontSize()" >
        Una aplicación móvil desarrollada por estudiantes de Espol orientada a mejorar la autonomía y accesibilidad de
        las personas ciegas o con
        discapacidad visual al momento de identificar billetes de dólar. Esta herramienta utiliza inteligencia
        artificial y tecnología de reconocimiento de imágenes para detectar, de forma precisa y rápida, el valor de los
        billetes, proporcionando información audible y táctil mediante el talkback.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ventajas</ion-card-title>
    </ion-card-header>
    <ion-card-content [style.font-size.px]="accesibilidadService.GetFontSize()" >
      <ul>
        <li>
          Para las personas no videntes o con problemas de visión:
          <ul>
            <li>
              Desde el punto de vista de los involucrados liste los beneficios directos.Desde el punto de vista de los involucrados liste los beneficios directos.
            </li>
            <li>
              Incremento en la autonomía: Permite identificar billetes sin depender de terceros.
            </li>
            <li>
              Mayor confianza y seguridad al manejar dinero en efectivo.
            </li>
          </ul>
        </li>
        <li>
          Para familiares y cuidadores:
          <ul>
            <li>
              Mayor tranquilidad al saber que la persona a su cuidado puede manejar su dinero de forma más independiente.
            </li>
          </ul>
        </li>
        <li>
          Para entidades educativas especializadas:
          <ul>
            <li>
              Una herramienta práctica que complementa sus programas educativos sobre independencia y habilidades cotidianas.
            </li>
          </ul>
        </li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Desventajas</ion-card-title>
    </ion-card-header>
    <ion-card-content [style.font-size.px]="accesibilidadService.GetFontSize()" >
      <ul>
        <li>
          Para las personas no videntes o con problemas de visión:
          <ul>
            <li>
              Se necesita un Smartphone con Talkback, lo que puede ser una barrera económica o tecnológica.
            </li>
            <li>
              Se necesita un Smartphone con Talkback, lo que puede ser una barrera económica o tecnológica.
            </li>
            <li>
              Errores en el reconocimiento de billetes deteriorados, eliminación insuficiente o cámaras de baja calidad
            </li>
          </ul>
        </li>
        <li>
          Para familiares y cuidadores:
          <ul>
            <li>
              Los usuarios pueden requerir ayuda para instalar, configurar o resolver problemas relacionados con la aplicación.
            </li>
          </ul>
        </li>
        <li>
          Para entidades educativas especializadas:
          <ul>
            <li>
              Integrar la aplicación en programas educativos podría requerir ajustes en el currículo o tiempo extra en las capacitaciones.
            </li>
          </ul>
        </li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Integrantes</ion-card-title>
    </ion-card-header>

    <ion-card-content [style.font-size.px]="accesibilidadService.GetFontSize()">
      <ul>
        <li>Kevin Mejia Parra</li>
        <li>Sebastian Holguin Vargas</li>
        <li>Adrian Salamea Quimis</li>
      </ul>
    </ion-card-content>
  </ion-card>



</ion-content>
